* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: lightblue;
    --secondary: darkgrey;
    --tertiary: yellow;
    --quaternary: yellowgreen;
    --quinary:  pink;
    --error: rgb(141, 10, 10);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--secondary);
}

header {
    position: sticky;
    top: 0; 
    padding: 10px 0;
    height: 75px;
    background-color: var(--primary);
    text-align: center;
}

section {
    position: sticky;
    top: 75px;
    background-color: var(--secondary);
}

.blink {
    animation: blink 1s steps(1, end) 3;
  }
  
  @keyframes blink {
    0% {
        background-color: var(--quaternary);  
        font-size: 5px;
    }
    25% {
        background-color: var(--tertiary);  
        font-size: 20px;
    }
    50% {
        background-color: var(--quaternary);  
        font-size: 35px;
    }
    75% {
        background-color: var(--tertiary);  
        font-size: 60px;
    }
    100% { 
        background-color: var(--primary);
    }
  }

section h2 {
    text-align: center;
    padding: 10px 0;
}

.photo-search {
    text-align: center;
}

.photo-search input {
    width: 200px;
    border-radius: 10px;
    padding: 2px 0;
}

.search-btn {
    width: 150px;
    background-color: var(--primary);
    font-weight: bold;
    border-radius: 12px;
    padding: 2px 0;
}

.search-btn:hover {
    background-color: var(--tertiary);
}

.click-me {
    width: 150px;
    background-color: var(--quinary);
    font-weight: bold;
    border-radius: 12px;   
}

.click-me:hover {
    background-color: var(--tertiary);
}

#span-search {
    color: var(--tertiary);
}

.error-msg {
    padding: 5px 0;
    color: var(--error);
}

#show-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-id {
    margin: 5px;
}

footer  {
    position: fixed;
    bottom: 0pt;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    background-color: var(--primary);
}

@media screen and (max-width: 540px) {
    .blink {
        animation: blink 1s steps(1, end) 3;
      }
      
      @keyframes blink {
        0% {
            background-color: var(--quaternary);  
            font-size: 5px;
        }
        25% {
            background-color: var(--tertiary);  
            font-size: 10px;
        }
        50% {
            background-color: var(--quaternary);  
            font-size: 20px;
        }
        75% {
            background-color: var(--tertiary);  
            font-size: 40px;
        }
        100% { 
            background-color: var(--primary);
        }
      }
    
}

@media screen and (max-width: 415px) {
    body {
        min-height: 736px;
    }

    .blink {
        animation: blink 1s steps(1, end) 3;
      }
      
      @keyframes blink {
        0% {
            background-color: var(--quaternary);  
            font-size: 5px;
        }
        25% {
            background-color: var(--tertiary);  
            font-size: 10px;
        }
        50% {
            background-color: var(--quaternary);  
            font-size: 20px;
        }
        75% {
            background-color: var(--tertiary);  
            font-size: 26px;
        }
        100% { 
            background-color: var(--primary);
        }
      }
    
    .click-me {
        margin: 5px 0 0 205px;
    }  

}

@media screen and (max-width: 414px) {
    header {
        font-size: 12px;
        height: 50px;
    } 

    .click-me {
        margin: 5px 0;
    }
}

@media screen and (width: 360px) {
    .click-me {
        margin: 5px 0 0 205px;
    }
}

@media screen and (width: 280px) {
    .search-btn {
        margin: 2px 0;
    }
    
    .click-me {
        margin: 2px 0;
    }

    .blink {
        animation: blink 1s steps(1, end) 3;
      }
      
      @keyframes blink {
        0% {
            background-color: var(--quaternary);  
            font-size: 5px;
        }
        25% {
            background-color: var(--tertiary);  
            font-size: 10px;
        }
        50% {
            background-color: var(--quaternary);  
            font-size: 20px;
        }
        75% {
            background-color: var(--tertiary);  
            font-size: 23px;
        }
        100% { 
            background-color: var(--primary);
        }
      }

}